@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/
body {
  /* padding-top: 100px; */
  padding-top: 69px;
}

.btn-primary {
  background-color: #8e44ad;
  border: 1px solid #8e44ad;
}

.btn-primary:hover {
  background-color: #7e349d;
  border: 1px solid #7e349d;
}

footer a {
  color: #8e44ad;
}

footer a:hover {
  color: #7e349d;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.me-2 {
  margin-right: 5px;
}

.col-lg-4,
.col-xs-12 {
  margin-bottom: 50px;
}

/*-------------------------
トップ
-------------------------*/
.topics p {
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}
